<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Tracker</h1>

  <table class="table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Snaphot</th>
        <th>Description</th>
        <th>Url</th>
        <th>Comment</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= page.snaphot %></td>
          <td><%= page.description %></td>
          <td><%= page.url %></td>
          <td><%= page.comment %></td>
          <td><%= link_to 'Show', page %></td>
          <td><%= link_to 'Edit', edit_page_path(page) %></td>
          <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Page', new_page_path %>
</div>
